<div
	*ngIf="vm$ | async as vm"
	class="notes-list"
>
	<span>Selected note id: {{vm.noteOnDisplayId}}</span>

	<div class="button-container" *ngFor="let note of vm.notes | keyvalue">
		<div *ngIf="note.value.isTrashed === vm.displayingTrash">
			<button class="delete-button" (click)="trash(+note.key)">-</button>
			<button 
				class="note-button"
				[attr.data-note-id]="note.key" 
				data-test-id="select-note-button" 
				draggable="true" 
				(dragstart)="drag($event, {id: +note.key, props: note.value})"
				(click)="appStateService.setNoteOnDisplayId(+note.key)"
				>
				{{note.value.name}}
			</button>
		</div>
	</div>

	<button *ngIf="!vm.displayingTrash" class="create-button"
		(click)="toggleFormVisibility(form, nameInput)"
	>+</button>
	
	<form #form [attr.id]="this.createNoteFormId"
		(submit)="onSubmitCreate($event, form, vm.groupOnDisplayId)">

		<input #nameInput name='name-input' [(ngModel)]="this.nameFormValue"
		[attr.id]="this.noteNameInputId" minlength=1 required="text"
		(blur)="onInputBlur(form)">

		<input value="create note" type="submit">
	</form>
</div>