<div
	*ngIf="vm$ | async as vm"
	id="notes-list"
>

	<div class="button-container" *ngFor="let note of vm.notes | keyvalue">
		<div *ngIf="note.value.isTrashed === vm.displayingTrash">
			<button 
				#noteButton
				class="note-button"
				(click)="onClickNoteButton($event, +note.key)"
				(contextmenu)="showCtxMenu($event, ctxMenu, trashOrDeleteButton)"
				(blur)="onBlurNoteButton($event)"
				[attr.data-note-id]="note.key" 
				data-test-id="select-note-button" 
				draggable="true" 
				(dragstart)="drag($event, {id: +note.key, props: note.value})"
				[class.selected]="vm.noteOnDisplayId === +note.key"
				>
				{{note.value.name}}
			</button>
			<form 
				#renameForm 
				id="rename-form" 
				(submit)="onSubmitRename(+note.key, renameForm, renameInput)"
			>
				<input 
					#renameInput 
					id="rename-input" 
					class="note-button" 
					type="text"
					required
					(blur)="onBlurRenameInput(renameForm, renameInput, noteButton)"
					>
			</form>
			<div 
				#ctxMenu 
				class="ctx-menu" 
				(blur)="onBlurCtxMenu($event, ctxMenu, vm.displayingTrash, trashOrDeleteButton)" 
				tabindex="-1"
				>
				<button 
					#trashOrDeleteButton 
					class="ctx-menu-item" 
					(click)="handleTrashOrDelete(ctxMenu, +note.key, vm.displayingTrash, trashOrDeleteButton)"
					>
					{{vm.displayingTrash ? 'Delete permanently' : 'Move to trash'}}
				</button>
				<button 
					*ngIf="!vm.displayingTrash"
					class="ctx-menu-item"
					(click)="showRenameInput(renameForm, renameInput, noteButton, ctxMenu)"
					>
					Rename
				</button>
				<button
					*ngIf="vm.displayingTrash"
					class="ctx-menu-item"
					(click)="handleRestore(+note.key, ctxMenu)"
				>
					Restore
				</button>
			</div>
		</div>
	</div>

	<form #form="ngForm" [hidden]="isFormHidden" [attr.id]="createNoteFormId"
		(ngSubmit)="onSubmitCreate(vm.groupOnDisplayId)">

		<input #nameInput [attr.id]="this.noteNameInputId" class="note-button"
		name='name-input' [(ngModel)]="nameFormValue" minlength=1 required
		(blur)="onBlurCreateInput($event)">

	</form>

	<button *ngIf="!vm.displayingTrash" id="create-button"
		(click)="toggleFormVisibility(nameInput)" [class.showing-form]="!isFormHidden"
	>+</button>
</div>
