.note-button {
	width: 90%;
}

.create-button {
	width: 100%;
	color: green;
}

.delete-button {
	width: 10%;
	color: red;
}

.button-container {
	display: inline;
}

#note-name-input {
	width: 70%;
}

#note-name-input:valid {
	background-color: lightgreen;
}

#note-name-input:invalid {
	background-color: lightcoral;
}
