<div
	*ngIf="vm$ | async as vm"
	class="notes-list"
>
	<span>Selected note id: {{vm.noteOnDisplayId}}</span>

	<div class="button-container" *ngFor="let note of vm.notes | keyvalue">
		<div *ngIf="note.value.isTrashed === vm.displayingTrash">
			<button class="delete-button" (click)="trash(+note.key)">-</button>
			<button 
				class="note-button"
				[attr.data-note-id]="note.key" 
				data-test-id="select-note-button" 
				draggable="true" 
				(dragstart)="drag($event, {id: +note.key, props: note.value})"
				(click)="appStateService.setNoteOnDisplayId(+note.key)"
				>
				{{note.value.name}}
			</button>
		</div>
	</div>

	<button *ngIf="!vm.displayingTrash" class="create-button"
		(click)="toggleFormVisibility(nameInput)"
	>+</button>
	
	<form #form="ngForm" [hidden]="isFormHidden" [attr.id]="createNoteFormId">

		<input #nameInput name='name-input' [(ngModel)]="nameFormValue"
		[attr.id]="this.noteNameInputId" minlength=1 required
		(blur)="onInputBlur($event, submitButton)">

		<button #submitButton id="form-submit-button" type="submit"
		[disabled]="!form.valid" (click)="onSubmitCreate(vm.groupOnDisplayId)">Create</button>
	</form>
</div>