<div *ngIf="vm$ | async as vm" id="groups-list">
	
	<div
		class="button-container"
		*ngFor="let group of vm.groups | keyvalue"
		(drop)="dropOnGroup($event, +group.key)"
		(dragover)="allowDrop($event)"
	>
		<div *ngIf="group.value.isTrashed === vm.displayingTrash"> <!-- Show trashed/non-trashed groups-->
			<button class="group-button"
				(click)="appStateService.setGroupOnDisplayId(+group.key)"
				[attr.data-group-id]="group.key"
				draggable="true"
				(dragstart)="drag($event, {id: +group.key, props: group.value})"
				data-test-id="select-group-button"
				[class.selected]="vm.groupOnDisplayId === +group.key"
			>
				{{group.value.name}}
			</button>
		</div>
	</div>

	<form #form="ngForm" [hidden]="isFormHidden" [attr.id]="this.createFormId"
		(ngSubmit)="onSubmitCreate()">

		<input #nameInput [attr.id]="this.formInputId" class="group-button"
			name='group-name' [(ngModel)]="this.formInputValue" minlength=1
			required="text" (blur)="onInputBlur($event)">
	</form>

	<button *ngIf="!vm.displayingTrash" id="create-button"
		(click)="toggleFormVisibility(nameInput)" [class.showing-form]="!isFormHidden"
	>+</button>
</div>
