<div *ngIf="vm$ | async as vm" id="groups-list">
	
	<div
		class="button-container"
		*ngFor="let group of vm.groups | keyvalue"
		(drop)="dropOnGroup($event, +group.key)"
		(dragover)="allowDrop($event)"
	>
		<div *ngIf="group.value.isTrashed === vm.displayingTrash"> <!-- Show trashed/non-trashed groups-->
			<button
				#groupButton
				class="group-button"
				(click)="onClickGroupButton($event, +group.key)"
				(contextmenu)="showCtxMenu($event, ctxMenu, trashOrDeleteButton)"
				(blur)="onBlurGroupButton($event)"
				[attr.data-group-id]="group.key"
				draggable="true"
				(dragstart)="drag($event, {id: +group.key, props: group.value})"
				data-test-id="select-group-input"
				[class.selected]="vm.groupOnDisplayId === +group.key"
			>
				{{group.value.name}}
			</button>
			<form 
				#renameForm 
				id="rename-form" 
				(submit)="onSubmitRename(+group.key, renameForm, renameInput)"
			>
				<input 
					#renameInput 
					id="rename-input" 
					class="group-button" 
					type="text"
					required
					(blur)="onBlurRenameInput(renameForm, renameInput, groupButton)"
					>
			</form>
			<div 
				#ctxMenu 
				class="ctx-menu" 
				(blur)="onBlurCtxMenu($event, ctxMenu, vm.displayingTrash, trashOrDeleteButton)" 
				tabindex="-1"
				>
				<button 
					#trashOrDeleteButton
					class="ctx-menu-item" 
					(click)="handleTrashOrDelete(ctxMenu, +group.key, vm.displayingTrash, trashOrDeleteButton)"
					>
					{{vm.displayingTrash ? 'Delete permanently' : 'Move to trash'}}
				</button>
				<button 
					*ngIf="!vm.displayingTrash"
					class="ctx-menu-item"
					(click)="showRenameInput(renameForm, renameInput, groupButton, ctxMenu)"
					>
					Rename
				</button>
				<button
					*ngIf="vm.displayingTrash"
					class="ctx-menu-item"
					(click)="handleRestore(+group.key, ctxMenu)"
				>
					Restore
				</button>
			</div>
		</div>
	</div>

	<form #form="ngForm" [hidden]="isCreateFormHidden" [attr.id]="this.createFormId"
		(ngSubmit)="onSubmitCreate()">

		<input #nameInput [attr.id]="this.createFormInputId" class="group-button"
			name='group-name' [(ngModel)]="this.createFormInputValue" minlength=1
			required="text" (blur)="onBlurCreateInput($event)">
	</form>

	<button *ngIf="!vm.displayingTrash" id="create-button"
		(click)="toggleFormVisibility(nameInput)" [class.showing-form]="!isCreateFormHidden"
	>+</button>
</div>
