.groups-display {
	float: left;
}

.group-button {
	width: 90%;
}

.create-button {
	width: 100%;
	color: green;
}

.delete-button {
	width: 10%;
	color: red;
}

#group-name-input {
	width: 70%;
}

#group-name-input:valid {
	background-color: lightgreen;
}

#group-name-input:invalid {
	background-color: lightcoral;
}
