<div *ngIf="vm$ | async as vm" class="groups-list">
	
	<span>Selected group id: {{ vm.groupOnDisplayId }}</span>

	<div
		class="button-container"
		*ngFor="let group of vm.groups | keyvalue"
		(drop)="dropOnGroup($event, +group.key)"
		(dragover)="allowDrop($event)"
	>
		<div *ngIf="group.value.isTrashed === vm.displayingTrash"> <!-- Show trashed/non-trashed groups-->
			<button class="group-button"
				(click)="appStateService.setGroupOnDisplayId(+group.key)"
				[attr.data-group-id]="group.key"
				data-test-id="select-group-button"
			>
				{{group.value.name}}
			</button>
		  <button class="delete-button" (click)="trash(+group.key)">-</button>
		</div>
	</div>

	<button *ngIf="!vm.displayingTrash" class="create-button"
		(click)="toggleFormVisibility(nameInput)"
	>+</button>

	<form #form="ngForm" [hidden]="isFormHidden" [attr.id]="this.createFormId">

		<input #nameInput name='group-name' [(ngModel)]="this.formInputValue"
			[attr.id]="this.formInputId" minlength=1 required="text"
			(blur)="onInputBlur($event, submitButton)">

		<button #submitButton type="submit" [disabled]="!form.valid"
		(click)="onSubmitCreate()">Create</button>
	</form>
</div>