.group-button {
	width: 100%;
	background-color: #8A8C99;
	color: white;
	border: 1px solid #272B45;
	border-radius: 3px;
	font-size: 16px;
}

.group-button:hover {
	color: #272B45;
}

.selected {
	box-shadow: inset 0px 2px 4px #272B45;
}

#create-button {
	width: 100%;
	color: #FF5959;
	background-color: #272B45;
	font-size: 16px;
	border: 0px;
	transition-property: box-shadow;
	transition-duration: 250ms;
}

#create-button.showing-form {
	box-shadow: inset 0px 2px 4px #8A8C99;
}

#group-name-input {
	text-align: center;
	background-color: #272B45;
}
