<div id="app-container" *ngIf="this.vm$ | async as vm">

	<div id="navbar">
		<div *ngIf="appStateService.displayingTrash$ | async as displayingTrash; else trashCan">
			<img id="out-trash-can" src="assets/icons/untrashCan.svg" 
				alt="out trash can" role="img" (click)="appStateService.toggleDisplayingTrash()"
				(dragover)="allowDrop($event)" />
		</div>
		<ng-template #trashCan>
			<img id="trash-can" src="assets/icons/trashCan.svg" alt="trash can"
				role="img" (click)="appStateService.toggleDisplayingTrash()"
				(dragover)="allowDrop($event)" (drop)="dropToTrash($event)" />
		</ng-template>
		
		<span id="note-name">
			{{vm.nameToDisplay ? vm.nameToDisplay : 'no note selected'}}
			{{vm.displayingTrash ? '(in trash)' : ''}}
		</span>

		<img id="menu-button" src="assets/icons/arepaMenu.svg" alt="menu" role="img"
			(click)="toggleMenu()">
	</div>

	<div id="app-view">
		<div id="groups-view">
			<app-groups-display>
			</app-groups-display>
		</div>

		<app-editor>
		</app-editor>

		<div id="notes-view" >
			<div>
				<button *ngIf="vm.groupOnDisplayId !== undefined"
					(click)="appStateService.setGroupOnDisplayId(undefined)"
					id="show-all-button"
				>
					Show all
				</button>
			</div>

			<app-notes-display >
			</app-notes-display>
		</div>

		<div id="overlay-menu" [class.showing]="showingMenu">
			<div id="menu-header" class="menu-item">
				<span>lenotes-ng</span>
			</div>

			<div class="menu-item">
				<button>Log out</button>
			</div>

			<div class="menu-item">
				<button
				  (click)="appStateService.toggleDisplayingTrash()"
					>
					{{vm.displayingTrash ? 'Out of trash' : 'Trash'}}
				</button>
			</div>
		</div>
	</div>
</div>
