<div id="app-container" *ngIf="this.vm$ | async as vm">

	<div id="groups-view">
		<div>
			<button (click)="this.appStateService.toggleDisplayingTrash()">
				{{ vm.displayingTrash ? 'Show non-trashed' : 'Show trashed' }}
			</button>
		</div>

		<app-groups-display>
		</app-groups-display>
	</div>

	<app-editor>
	</app-editor>

	<div id="notes-view" >
		<div>
			<button *ngIf="vm.groupOnDisplayId !== undefined"
			(click)="this.appStateService.setGroupOnDisplayId(undefined)"
			>
				Show all
			</button>
		</div>

		<app-notes-display >
		</app-notes-display>
	</div>
</div>